@prefix: ~'tree-view';

.@{prefix} {
  position: relative;

  &__svg {
    background: #e0e0e0;
  }
  &__node-wrap {
    height: 100%;
    width: 100%;
    background-color: forestgreen;
    border-radius: 8px;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e0e0e0;
  }
}
